body {
    margin: 0;
}

:root {
    --color1: #05b1b1;
    --color2: #52339a;


}

header,
footer,
section {

    padding: 100px 0;

}


header,
footer {
    background: var(--color1);
    background: -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    flex-shrink: 0;
}

.btn-itd {

    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}

.btn-itd:hover {


    color: var(--bs-white);
    background-color: var(--color1);
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.input-group-append {
    position: relative;
}

.input-group-append button {
    position: absolute;
    right: 0;
    top: 0;
    height: 138%;
    width: 40px;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.input-group-append button.active img {
    color: #000;
}

.input-group-append button img {
    color: #ccc;
    transition: 0.2s ease-in-out;
    pointer-events: none;
}



#show-password-button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;

}

#show-password-button img {
    width: 16px;
    height: 16px;
}

input,
button {
    outline: none;
}

main {
    margin: auto 0;
    flex-grow: 1;
}



.dropdownMenuButton {
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 12px;
    background-color: var(--color2);
    box-shadow: none;
}

.dropdownMenuButton img {
    max-width: 100%;
    max-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #390281;
    color: #3000f1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #5700b5;
}


.page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}