{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>О сайте</h1>
    <p>
      Наш сайт посвящен такой важной теме, как забота о детях. Данный ресурс предназначен для родителей, где они найдут советы психологов по воспитанию детей, а также смогут пообщаться с другими родителями. Наш сайт - это ваш помощник на пути к счастливой и гармоничной семье!
    </p>
    <blockquote class="text-right blockquote-border">
        <p>"Мы верим, что каждый ребенок заслуживает того, чтобы быть счастливым и успешным!"</p>
        <cite>@FamilyLife</cite>
    </blockquote>
      
    <div class="row">
      <div class="col-md-4">
        <h2>Наша команда</h2>
        <p>
          ... (описание команды)
        </p>
        <img src="" alt="Image">
      </div>
      <div class="col-md-4">
        <h2>Контакты</h2>
        <p>
          <a href="mailto:timurckaaslanov@yandex.ru" class="btn">timurckaaslanov@yandex.ru</a>
        </p>
        <p>
          <a href="tel:+79252744056" class="btn">+7 (925) 274-40-56</a>
        </p>
        <p>
          <a href="https://vk.com/" target="_blank" class="btn">VK</a>
        </p>
        
      </div>
      <div class="col-md-4">
        <h2>Отзывы</h2>
        <p>
          ... (отзывы пользователей)
        </p>
      </div>
    </div>
  </div>
  
{% endblock %}
