{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="" class="form-signin" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="form-error">{{form.non_field_errors}}</div>
        {% for f in form %}
        <div class="row mb-3">
            <p><label class="col-sm-2 col-form-label" for="{{ f.id_for_label }}">{{f.label}}</label>
                <div class="col-sm-10">
                    {{f}}
                </div>
            </p>
            <div class="form-error">{{f.errors}}</div>
        </div>  
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary">Добавить пост</button>
    </div>
    
</form>
    
{% endblock %}

