{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container text-center">
    <div class="container border-bottom" style="margin-bottom: 100px">
        <h2>{{title}}</h2>
</div>
<div class="carousel" data-bs-interval="false" id="myCarousel" style="margin-bottom: 3rem">
    <div class="carousel-inner text-center">
    {% for post in posts %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <h3>{{ post.title }}</h3>
            <!-- <img src="{{ post.image.url }}" class="d-block w-100" alt="..."> -->
            <p>{{ post.content|linebreaks|truncatewords:10 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать</a>
        </div>
    {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </a>
</div>
</div>


{% endblock %}